# Шаг 1. Импортируйте необходимые библиотеки

In [1]:
import pandas as pd
import numpy as np

# Шаг 2. Импортируйте набор данных с этого [адреса]  (https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

In [3]:
pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

# Шаг 3. Сохраните его в переменной с именем drinks

In [4]:
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')

# Шаг 4. На каком континенте в среднем пьют больше пива?

In [13]:
set(drinks['continent'])

{'AF', 'AS', 'EU', 'OC', 'SA', nan}

In [14]:
as_ = drinks.loc[drinks['continent'] == 'AS'] #в каждой переменной содержатся строки с нужным континентом
eu = drinks.loc[drinks['continent'] == 'EU']
af = drinks.loc[drinks['continent'] == 'AF']
oc = drinks.loc[drinks['continent'] == 'OC']
sa = drinks.loc[drinks['continent'] == 'SA']

In [86]:
col = drinks.columns
z = []
for i in col:
    z.append(i)
stat_of_cont = pd.DataFrame(
[
    [np.mean(as_['beer_servings']), np.mean(as_['spirit_servings']), np.mean(as_['wine_servings']), np.mean(as_['total_litres_of_pure_alcohol']), 'AS'],
    [np.mean(eu['beer_servings']), np.mean(eu['spirit_servings']), np.mean(eu['wine_servings']), np.mean(eu['total_litres_of_pure_alcohol']), 'EU'],
    [np.mean(af['beer_servings']), np.mean(af['spirit_servings']), np.mean(af['wine_servings']), np.mean(af['total_litres_of_pure_alcohol']), 'AF'],
    [np.mean(oc['beer_servings']), np.mean(oc['spirit_servings']), np.mean(oc['wine_servings']), np.mean(oc['total_litres_of_pure_alcohol']), 'OC'],
    [np.mean(sa['beer_servings']), np.mean(sa['spirit_servings']), np.mean(sa['wine_servings']), np.mean(sa['total_litres_of_pure_alcohol']), 'SA']
],
columns = z[1:]) #табличка со средними значениями по каждому столбцу по каждому континенту

In [87]:
a = stat_of_cont.nlargest(1, columns=['beer_servings'])['continent']
a

1    EU
Name: continent, dtype: object

# Шаг 5.  Для каждого континента вывести статистику по потреблению вина.

In [92]:
as_['wine_servings'].describe() #для AS

count     44.000000
mean       9.068182
std       21.667034
min        0.000000
25%        0.000000
50%        1.000000
75%        8.000000
max      123.000000
Name: wine_servings, dtype: float64

In [93]:
eu['wine_servings'].describe() #для EU

count     45.000000
mean     142.222222
std       97.421738
min        0.000000
25%       59.000000
50%      128.000000
75%      195.000000
max      370.000000
Name: wine_servings, dtype: float64

In [94]:
af['wine_servings'].describe()#для AF

count     53.000000
mean      16.264151
std       38.846419
min        0.000000
25%        1.000000
50%        2.000000
75%       13.000000
max      233.000000
Name: wine_servings, dtype: float64

In [95]:
oc['wine_servings'].describe() #для OC

count     16.00000
mean      35.62500
std       64.55579
min        0.00000
25%        1.00000
50%        8.50000
75%       23.25000
max      212.00000
Name: wine_servings, dtype: float64

In [96]:
sa['wine_servings'].describe() #для SA

count     12.000000
mean      62.416667
std       88.620189
min        1.000000
25%        3.000000
50%       12.000000
75%       98.500000
max      221.000000
Name: wine_servings, dtype: float64

# Шаг 6. Вывести среднее потребление алкоголя по каждому континенту по каждому столбцу

In [89]:
stat_of_cont

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,37.045455,60.840909,9.068182,2.170455,AS
1,193.777778,132.555556,142.222222,8.617778,EU
2,61.471698,16.339623,16.264151,3.007547,AF
3,89.687500,58.437500,35.625000,3.381250,OC
4,175.083333,114.750000,62.416667,6.308333,SA

# Шаг 7.  Вывести медианное потребление алкоголя по каждому континенту по каждому столбцу

In [97]:
as_.median()

beer_servings                   17.5
spirit_servings                 16.0
wine_servings                    1.0
total_litres_of_pure_alcohol     1.2
dtype: float64

In [98]:
eu.median()

beer_servings                   219.0
spirit_servings                 122.0
wine_servings                   128.0
total_litres_of_pure_alcohol     10.0
dtype: float64

In [99]:
oc.median()

beer_servings                   52.50
spirit_servings                 37.00
wine_servings                    8.50
total_litres_of_pure_alcohol     1.75
dtype: float64

In [109]:
af.median()

beer_servings                   32.0
spirit_servings                  3.0
wine_servings                    2.0
total_litres_of_pure_alcohol     2.3
dtype: float64

In [110]:
sa.median()

beer_servings                   162.50
spirit_servings                 108.50
wine_servings                    12.00
total_litres_of_pure_alcohol      6.85
dtype: float64

# Шаг 8.  Вывести среднее, минимальное и максимальное значения для потребления напитков(столбец spirit).

In [104]:
drinks.nlargest(1, columns=['spirit_servings']) #строка с максимальным значением spirit_servings

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
68,Grenada,199,438,28,11.9,NaN

In [107]:
drinks.nsmallest(1, columns=['spirit_servings']) #строка с минимальным значением spirit_servings

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS

In [108]:
np.mean(drinks['spirit_servings']) #срзнач для столбика spirit_servings

80.99481865284974